.button {
    display: inline-block;
    padding: 4px;
    font-size: 15px;
    font-style: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white;
    background-color: grey;
    border: 5px;
    border-radius: 3px;
    box-shadow: 0 5px #333;
}

.button:hover {
    background-color: white;
    color: grey;
    box-shadow: none
}

.box {
    display: table;
    //background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    //background-image: url('planetlog.jpg')
    padding: 8px 8px 8px 8px;
    border: -20px;
    top: 20px;
}

.text {
    size: 10px;
    padding: 10px 10px 10px 10px;
    s
}

.box {
    display: table; //background-color: white; box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
    rgba(0, 0, 0, 0.19); //background-image: url('planetlog.jpg') padding: 8px 8px 8px 10px; border: -20px; top: 20px; } .text { size: 10px; padding: 10px 10px 10px 10px; s } .button { display: inline-block; padding: 2px; font-size: 15px; cursor:
    pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white;
    background-color: grey;
    border: 2px;
    border-radius: 4px;
    box-shadow: 0 3px #333;
}

.button2 {
    display: inline-block;
    padding: 10px;
    height: 35px;
    width: 165px;
      font-size: 18px;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      outline: none;
      color: grey;
      background-color: grey;
      border: none;
      border-radius: 0px;
      box-shadow: 0 6px #333;
    }

.button2:hover {background-color: white }

.button2:active {
      background-color: grey;
      box-shadow: 0 5px #333;
      transform: translateY(4px);
    }
    .a {
        border: none;
        outline: none;
       padding: 20px;
        display: inline-block;
        background-color: #f1f1f1;
        height:65px;
        width: 165px;
        transition: all 0.5s;
        cursor: pointer;
        font-size: 15px;
        text-align:center;
      }

  .active, .a:hover {
        padding-right: 45px;
        background-color: #333;
        }

  .a span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
      }

  .a span:after {
        content: '\00bb';
        color:white;
        position: absolute;
        opacity: 0;
        top: 0;
        right: 25px;
        transition: 0.5s;
      }


  .a:hover span {
       padding-right: 40px;
      }

  .a:hover span:after {
        opacity: 1;
        right: 1;
      }
      
    
      .a2 {

        position:absolute;
        transition: .5s ease;
        top: 20px;
       right: 10px;



      border: none;
      outline: none;
      padding: 5px;
      display: inline-block;
      background-color: #f1f1f1;
      height:40px;
      width: 120px;
      transition: all 0.5s;
      cursor: none;
      font-size: 18px;
      text-align:center;
    }

.active, .a2:hover {
      padding-right: 35px;
      background-color: #333;
      color: white;
      }

.a2 span {
      cursor: none;
      display: inline-block;
      position: relative;
      transition: 0.5s;
    }

.a2 span:after {
      content: '\00bb';
      color:white;
      position: absolute;
      opacity: 0;
      top: 0;
      right: 10px;
      transition: 0.5s;
    }


.a2:hover span {
      padding-right: 70px;
    }

.a2:hover span:after {
      opacity: 1;
      right: 1;
    }

.b {

        position:absolute;
       transition: .5s ease;
        top: 20px;
        left: 10px;


      border: none;
      outline: none;
      padding: 0px;
      display: inline-block;
      background-color: #f1f1f1;
      height:40px;
      width: 130px;
      transition: all 0.5s;
      cursor: none;
      font-size: 18px;
      text-align:center;
    }

.active, .b:hover {
      padding-right: 35px;
      background-color: #333;
      color: white;
      }

.b span {
      cursor: none;
      display: inline-block;
      position: relative;
      transition: 0.5s;
    }

.b span:after {
      content: '\00ab';
      color:white;
      position: absolute;
      opacity: 0;
      top: 0;
      left: -5px;
      transition: 0.5s;
    }


.b:hover span {
      padding-left: 40px;
    }

.b:hover span:after {
      opacity: 1;
      right: 1;
    }
    
    
    
    .scrollbar {
      margin-left: 22px;
      float: left;
      height: 300px;
      width: 65px;
      background: #F5F5F5;
      overflow-y: scroll;
      margin-bottom: 25px;
    }
    
    .force-overflow {
      min-height: 450px;
    }
    
    #wrapper {
      text-align: center;
      margin: auto;
    }
    
    #style-7::-webkit-scrollbar,
  {
      width: 10px;
      background-color: #F5F5F5;
    }
    

    
    /** STYLE 7 */
    #style-7::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      background-color: #F5F5F5;
      border-radius: 10px;
    }
    
    #style-7::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-image: -webkit-gradient(linear,
                         left bottom,
                         left top,
                         color-stop(0.44, rgb(122,153,217)),
                         color-stop(0.72, rgb(73,125,189)),
                         color-stop(0.86, rgb(28,58,148)));
    }
 